<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <application>
        <uses-library android:name="android.test.runner" android:required="true" />
        <uses-library android:name="android.test.base" android:required="true" />
    </application>
    <instrumentation android:name="top.crop.mobile.NativeInstrumentationRunner"
        android:targetPackage="top.crop.mobile"
        android:label="Offline draft recovery check" />
</manifest>
